/*  --------- LAYOUT ---------  */

.main-container {
	display: flex;
	width: 1200px;
	justify-content: center;

}



/*  --------- GENERAL ---------  */

ul {
	list-style-type: none;
}

.clear {
	clear: both;
}

h1, h2 {
	text-transform: uppercase;
}

/*  --------- ASIDE ---------  */
aside {
	background-color: #647087;
	flex-basis: 25%;
}

aside * {
	color: white;
}

aside h2 {
	text-transform: uppercase;
	letter-spacing: 5px;
}

aside section h2:first-child {
	border-bottom: 2px solid white;
}

#profile-pic img{
	border-radius: 50%;
	width: 150px;
	height: auto;
}

/*  --------- MAIN ---------  */

main {
	flex-basis: 60%;
	width: 60%;
}

main section h2 {
	letter-spacing: 5px;
}

.hero {
	background-color: #F7DDC3;
	box-shadow: 2px 2px 40px 1px #647087 inset;
	padding: 15% 0;
	text-align: center;
}

.hero h2 {
	color: white;
	border-top: 2px solid white;
	text-transform: none;
	letter-spacing: 10px;
}

.hero h1 {
	letter-spacing: 10px;
}

/*
.about-me {
	background-color: #EDC0AF;
}

.about-me h2 {
	background-color: white;
}*/

.about-me p {
	line-height: 2em;
	background-color: #F7DDC3;
	padding: 5px;
}

article h3, 
article h4 {
	font-weight: bold;
}

article ul {
	list-style-type: square;
}
/*  DL  */

dl {
	display: flex;
	flex-wrap: wrap;
}

dt, dd {
	line-height: 1.5em;
	border-top: 1px solid white;
}


/*
dt {
	clear: left;
	width: 30%;
	float: left;
	font-weight: bolder;
}

dd {
	clear: right;
	width: 50%;
	float: left;
	margin: 0;
}
*/

dt:last-of-type,
dd:last-of-type {
	border-bottom: 1px solid white;
}

dt, 
dd {
	margin: 0;
	flex-basis: 40%;
}

dt {
	font-weight: bolder;
}


/*  ICONS */

.fb::before {
	content: "\f02d";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

.tw::before {
	content: "\f081";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

.in::before {
	content: "\f16d";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

.gh::before {
	content: "\f09b";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

.yt::before {
	content: "\f431";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

.social-item::before {
	padding-right: 15px;
}


/*  METER  */

meter {
	display: block;
	width: 80%;
}

meter::-webkit-meter-optimum-value {
	background: none;
	background-color: red; 
}

meter::-moz-meter-optimum-value {
	background: none;
	background-color: red; 
}

/*
* {
	color: blue;
}
p {
	color: red;
}
.bonito {
	background-color: lightblue;
}



**/
