/*Etiquetas generales*/
body{
    font-family: Verdana, "Geneva", Tahoma, sans-serif; 
    font-size: 12px;
    font-weight: normal;
    background-image: url(Assets/FicherosP2/fondo.gif);
    font-style: blue;
}