body{
    background-color: #e9ecfc;
    font-family:'Times New Roman', Times, serif;
    font-size: 12px;
    font-style: bolder;
    color:black;
    margin: auto;
    width: 90%;
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    font-style: bolder;
    color:red;
    text-align: center;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: bolder;
    color: blue;
    text-align: right;
    border-bottom: solid thin;

 }
nav{
    font-family:sans-serif;
    font-size: 14px;
    font-style: normal;
    background-color:rgb(248, 229, 145);
    border: dotted;
    color:blue;
}
.Honda1{
    float:right;
    padding-left: 12px;
}
.Honda2{
    float:left;
    padding-right: 12px;
    padding-bottom: 2px;
    
}
.imagenes3{
   
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}
.enlace{
    text-align: left;
}
.precio{
    background-color: white;
    text-align: center;
    font-style: bolder;
    font-size: 24px;

}
span{
    color:red;
}
a:hover{
    color:black;
    text-decoration:none;
}
p{
    text-align: justify;
}
.logo{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    
}